:root {
}

main.app {
  background-color: var(--sl-color-primary-50);
  border-color: var(--sl-color-primary-200);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  max-width: 780px;
  margin: auto;
  overflow-x: hidden;
  padding: 1rem;
}

.top-bar h1 {
  text-align: center;
}
.top-bar menu {
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
}

sl-button {
  margin-right: 1rem;
}

sl-tab > sl-icon {
  margin-right: 0.5rem;
}

form [data-invalid]::part(base) {
  border-color: var(--sl-color-danger-600);
}

form .form-error {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--sl-color-orange-50);
  border-color: var(--sl-color-orange-200);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

form .field {
  margin-bottom: 1rem;
}

form .field > .error {
}
