main.app {
  background-color: var(--sl-color-primary-50);
  border-color: var(--sl-color-primary-200);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  max-width: 780px;
  margin: auto;
  overflow-x: hidden;
  @apply p-1;
}

.top-bar h1 {
  text-align: center;
}
.top-bar menu {
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
}

sl-button {
  @apply mr-1;
}

sl-input {
  @apply mb-1;
}
