main.app {
  background-color: var(--sl-color-primary-50);
  border-color: var(--sl-color-primary-200);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  max-width: 780px;
  margin: auto;
  @apply p-1;
}

sl-input {
  @apply mb-1;
}

sl-button {
  @apply mr-1;
}
