:root {
}

main.app {
  background-color: var(--bg-color);
  border-color: var(--border-color);
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  max-width: 780px;
  margin: auto;
  overflow-x: hidden;
  padding: 1rem;
}

.top-bar h1 {
  text-align: center;
}
.top-bar menu {
  padding-inline-start: 0px;
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
}

.loading {
  text-align: center;
}

sl-icon.rotate {
  animation: turn 1s infinite linear;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

sl-button {
  margin-right: 1rem;
}

sl-tab > sl-icon {
  margin-right: 0.5rem;
}

form [data-invalid]::part(base) {
  border-color: var(--sl-color-danger-600);
}

form .field,
form sl-alert {
  margin: 0rem 0.2rem 1rem;
}


form .field > .error {
  display: flex;
  column-gap: 0.2rem;
  padding: 0.5rem 0;
  color: var(--sl-color-danger-600);
}

small.app-version {
  float: right;
}